In [1]:
a = 23
b = 5
몫 = a // b
나머지 = a % b

In [2]:
몫, 나머지

(4, 3)

In [4]:
int(0XFF), int(0o33)

(255, 27)

In [7]:
num = 215179
total = 0

나머지 = num % 10
total = total + 나머지  # 9

num = num // 10
나머지 = num % 10
total = total + 나머지  # 7

num = num // 10
나머지 = num % 10
total = total + 나머지  # 1

num = num // 10
나머지 = num % 10
total = total + 나머지  # 1

num = num // 10
나머지 = num % 10
total = total + 나머지  # 1

num = num // 10
나머지 = num % 10
total = total + 나머지  # 1

print(total)

25

In [8]:
num = 978
result = 0
result = num // 100 * 100
print(result)

900

In [12]:
date = '2012 03 25'
date[0], date[1], date[-1], date[ 5 : 6+1 ]

('2', '0', '5', '03')

In [29]:
# 리스트 만들기 - 끝자리 숫자 제외
list( range(1, 11) )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# 랜덤 숫자 뽑기 - 예외 끝자리 숫자 포함
import random
random.randint(1, 3)

3

In [25]:
list = range(1, 4)  # 오류!!!!! list에 값을 대입했음

In [28]:
del list

In [31]:
# Formatting 1
s = '내 나이는 %d 입니다.'
s = '내 나이는 %s 입니다.'
print(  s % 30  )

내 나이는 30 입니다.

In [32]:
s = '내 나이는 ' + str(30) + ' 입니다.'
s

'내 나이는 30 입니다.'

In [35]:
str = 'Life is too short, You need Python'
str.find('i'), str.find('i', 1+1)

(1, 5)

In [37]:
idx1 = str.find(' ')
idx2 = str.find(' ', idx1 + 1)
idx3 = str.find(' ', idx2 + 1)
str[ idx2 : idx3 ]

' too'

In [39]:
li = ['1', '2', '3']
li, '@'.join(li)

(['1', '2', '3'], '1@2@3')

In [40]:
# short 문자열 찾기
s = 'Life is too short, You need Python'
s.find('short')

12

In [44]:
# 첫문자 ~ short 끝까지
idx = s.find('short')
s[ : idx + 5]

'Life is too short'

In [41]:
# 공백 기준 리스트로 만들기
s = 'Life is too short, You need Python'
s.split(' ')

['Life', 'is', 'too', 'short,', 'You', 'need', 'Python']